@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
/* font-family: 'Poppins',sans-serif; */
/* font-family: 'Open Sans',sans-serif; */
*{
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;

}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
    color: hsl(192, 100%, 9%);
}
a{
    text-decoration: none;
}
button{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
li{
    list-style-type: none;
    padding: 10px;
}
.logo-try-it{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.logo-try-it img{
  height: 80%;
  width: 80%;
}
.logo-try-it button{
    background-color: white;
    border: 0;
    border-radius: 20px;
    padding: 10px 50px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.434);
    position: relative;
    transition: transform 0.3s ease-in-out;
}
.logo-try-it button::after{
    content: "";
    position: absolute;
    opacity: 0.3;
    border-radius: inherit;
    background-color: rgba(255, 255, 255, 0.901);
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3 ease;
}
.logo-try-it button::before{
    content: "";
        position: absolute;
        opacity: 0.3;
        border-radius: inherit;
        background-color: rgba(255, 255, 255, 0.901);
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: transform 0.3 ease;
}
.logo-try-it button:hover{
    transform: translate(-12px , -12px);
}
.logo-try-it button:hover::after{
    transform: translate(6px,6px);
}
.logo-try-it button:hover::before{
    transform: translate(12px,12px);
}
.logo-try-it a{
    
    color: hsl(192, 100%, 9%);
}
.part-1{
    width: 100%;
    background-image: url(./images/bg-hero-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(193, 100%, 96%);
    padding: 50px 50px;
    padding-top: 30px;
}
.part-1-content{
    max-width: 100%;
    display: flex;
}
.illustration{
    width: 50%;
    flex: 0.6;
    margin: auto;
}
.content{
    width: 50%;
    flex: 0.4;
    padding-top: 60px;
    padding-right: 50px;
}
.illustration img{
    max-width: 100%;
}
.content span{
    display: block;
}
.content button{
    background-color: hsl(322, 100%, 66%);
    border: 0;
    border-radius: 25px;
    padding: 14px 50px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.434);
    position: relative;
    transition: transform 0.3s ease-in-out;
}
.content button::after{
    content: "";
    position: absolute;
    opacity: 0.3;
    border-radius: inherit;
    background-color: hsl(322, 100%, 66%);
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3 ease-in-out;
}

.content button::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    border-radius: inherit;
    background-color: hsl(322, 100%, 66%);
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3 ease;
}

.content button:hover {
    transform: translate(-12px, -12px);
}

.content button:hover::after {
    transform: translate(6px, 6px);
}

.content button:hover::before {
    transform: translate(12px, 12px);
}
.content button a{
    color: white;
    
}
.part-2{
    width: 100%;
    background-color: white;
    padding: 50px 20px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.card{
    width: 90%;
    max-height: 350px;
    background-color: white;
    display: flex;
    margin-bottom: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.card p{
    color:hsl(208, 11%, 55%);  
}
.card-content{
    width: 50%;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.card-content h2{
    margin-bottom: 0;
}
.card-img{
    padding: 20px;
    width:50%;
}
.card-img img{
    max-width: 80%;
    max-height: 100%;    
}
.small-card{
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 500px;   
    padding: 30px;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    position: relative;
    top: 140px;
}
.small-card button{
    background-color: hsl(322, 100%, 66%);
    border: 0;
    border-radius: 25px;
    padding: 14px 50px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.434);
    position: relative;
    transition: transform 0.3s ease-in-out;
}
.small-card button::after {
    content: "";
    position: absolute;
    opacity: 0.3;
    border-radius: inherit;
    background-color: hsl(322, 100%, 66%);
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3 ease-in-out;
}

.small-card button::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    border-radius: inherit;
    background-color: hsl(322, 100%, 66%);
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3 ease;
}

.small-card button:hover {
    transform: translate(-12px, -12px);
}

.small-card button:hover::after {
    transform: translate(6px, 6px);
}

.small-card button:hover::before {
    transform: translate(12px, 12px);
}
.small-card a{
    color: white;
}
.part-3{
    background-color: hsl(192, 100%, 9%);
    color: white;
    padding: 100px 50px;
    padding-top: 200px;
}
.huddle-white{
    width: 192px;
    height: 32px;
    margin-bottom: 40px;
}
.contact-dets{
    display: flex;
}
.contact-dets a{
    color: white;
}
.contact-dets-info{
    width: 40%;
    padding-left: 40px;
}
.contact-dets-faqs{
    width: 20%;
    padding-left: 40px;
    align-self: center;
}
.contact-dets-social-links{
    width: 20%;
    padding-left: 40px;
    align-self: center;
}
.contact-dets-social-links ul{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 40px;
}
.contact-dets-social-links a span{
    padding: 8px;
    border: 1px solid white;
    border-radius: 50%;
}
.contact-dets-info ul li span{
   display: block;
}
.list-flex{
    display: flex;
    position: relative;
    bottom: 10px;
}
.list-icon{
    align-self: flex-start;
    position: relative;
    top: 5px;
}
.list-text{
    padding-left: 20px;
}
@media (max-width:860px)
{

    .part-1-content{
        flex-direction: column;
    }
    .content{
        width: 100%;
        text-align: center;
        padding-bottom: 50px;
        padding-right: 0px;
    }
    .illustration{
        width: 100%;
        align-self: center;
    }
    .contact-dets{
        flex-direction: column;
    }
    .contact-dets-faqs{
        width: 100%;
    }
    .contact-dets-info{
        width: 100%;
    }
    .contact-dets-social-links{
        width: 100%;
        align-self: center;
        justify-self: center;
    }
        .list-icon {
            align-self: flex-start;
            position:static;
        }
    .contact-dets-social-links ul {
        position: static;
        align-items: center;
        justify-content: center;      
    }
    .small-card{
        width: 80%;
    }
}
@media (max-width:700px)
{
    .content{
        padding-right: 0px;
    }
    .card{
        flex-direction: column;
        max-height: none;
    }
    .card-content{
        width: 100%;
        height: 50%;
        text-align: center;
    }
    .card-img {
        width: 100%;
        height: 50%;
    }
    .card-img img{
        max-width: 100%;
    }
    .card-inverse{
        flex-direction: column-reverse;
    }
    .part-3{
        padding-left: 10px;
    }
}
@media (max-width:500px)
{
    .part-1{
        padding: 0px;
    }
    .part-1-content{
        padding: 40px;
        padding-top: 0px;
    }
    .logo-try-it{
        padding: 20px 10px;
        padding-top: 40px;
        margin-bottom: 10px;
    }
    .logo-try-it img{
        width: 148px;
        height: 37px;
    }
    .logo-try-it button{
        padding: 10px 30px;
    }
}
@media (max-width: 360px)
{
    body{
        font-size: 14px;
    }
    .logo-try-it img {
            width: 100px;
            height: 26px;
        }
    
        .logo-try-it button {
            padding: 6px 25px;
        }
    .small-card button{
        padding: 10px 30px;
    }
}
@media (max-width: 260px)
{
    .logo-try-it{
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;      
    }
    .logo-try-it img{
        margin-bottom: 20px;
    }
    .huddle-white{
        width: 110px;
        height: 28px;
    }
}
