:root {
    --clr-darkblue: hsl(243, 87%, 12%);
    --clr-desaturatedblue: hsl(238, 22%, 44%);
    --clr-brightblue: hsl(224, 93%, 58%);
    --clr-cyan: hsl(170, 45%, 43%);
    --clr-grayishblue: hsl(240, 75%, 98%);
    --clr-gray: hsl(0, 0%, 75%);

    --font-raleway: 'Raleway', sans-serif;
    --font-opensans: 'Open Sans', sans-serif;

    --fw-bold: 700;
    --fw-regular : 400;
}

